* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Fira Code;
    font-size: 15px;
}

window#waybar {
    /*background-color: #1a1b26;*/
    background-color: rgba(26, 27, 38, 0.9);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    
    border-radius: 5px;
    border: 5px solid #c0caf5;
    /*
    border-bottom: 5px solid #c0caf5;
    border-left: 5px solid #c0caf5;
    border-right: 5px solid #c0caf5;
    */
}

button {
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  /*background-color: #3d59a1AA;*/
  background-color: rgba(58, 89, 161, 0.67);
}

#clock,
#battery,
#backlight,
#network,
#wireplumber,
#tray,
#power-profiles-daemon,
#group-power {
    padding: 0 10px;
  margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: rgba(58, 89, 161, 0.87);
}

.modules-left > widget:first-child > * {
    margin-left: 5px;
}

.modules-right > widget:last-child > * {
    margin-right: 5px;
}

#clock {
    /*background-color: #64727D;*/
}

#battery {
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.active {
  background-color: #3d59a1;
}

#power-profiles-daemon {
    padding-right: 15px;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
